/* ---------- Header Styles CSS ---------- */
/* COMMON CSS CODE - FULL WEB PAGE */
/* Common styling for html, body and header */
html, body, header {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  min-height: 70vh;
  padding: 0;
}

/* Main Header Container div CSS Styles */
.header {
  background: url("../images/privacy.jpg");
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  min-height: 70vh;
}

/* Provides tint to the background image */
.overlay {
  background-color: lightgrey;
  background-color: rgba(92, 108, 113, 0.67);
  left: 0;
  min-height: 70vh;
  position: absolute;
  top: 0;
  width: 100vw;
}

/* Adjust height of header and overlay when screen size is less than 768px and
orientation is landscape */
@media screen and (max-width: 767px) and (orientation: landscape) {
  .header {
    min-height: 100vh;
  }

  .overlay {
    min-height: 100vh;
  }
}

/* ########## Header Content Styling CSS ########## */
/* Main Header Content Section */
.header-content {
  left: 2.5%;
  position: absolute;
  top: 50%;
  width: 55%;
}

/* Styling Header h1 Contact Us - in the Header Content Section */
.header-h1 {
  color: #0A2850;
  color: #FFFFFF;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 0;
}

/* Apply style to header content and header-h1 when screen size if less than 992px */
@media screen and (max-width: 991px) {
  .header-content {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 95%;
  }

  .header-h1 {
    bottom: 5px;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}

/* Applying style to the breadcrumb container */
.breadcrum-container {
  padding: 0;
}

/* Applying stlye to the main inner breadcrumb div */
.breadcrumb {
  background-color: #0A2850;
  border-radius: 0;
  color: #FFFFFF;
  display: block;
  margin: 0;
  text-align: center;
}

/* Styling the Breadcrumb separator image */
.breadcrumb-img {
  display: inline-block;
  height: auto;
  padding: 5px;
  width: 25px;
}

/* ########## Main -  Privacy Section ########## */
/* Background color of the privacy section and spacing from top and bottom sections */
.privacy-bg-wrapper {
  background-color: #FFFFFF;
  padding-bottom: 5%;
  padding-top: 0;
}

/* ########## Main -  Privacy Section ########## */
/* Styling the privacy section */
#privacy {
  margin-bottom: 5%;
  margin-top: 5%;
}

/* Common styling for the posted and effective dates */
.dates {
  padding-left: 20px;
}

/* Spacing the accordian from the dates */
.effective-date {
  margin-bottom: 5%;
}

/* Spacing the card stacks */
.privacy-card {
  margin-bottom: 5%;
}

/* Styling the the card header button */
.btn-link {
  font-size: 1rem;
  font-weight: 400;
  padding: 5px;
  text-decoration: none ! important;
  text-transform: none;
  width: 100%;
}

/* Styling the card header - expanded state button */
.btn-link:after {
  background-color: #0043B1;
  border-radius: 100%;
  color: #FFFFFF;
  content: '\02212';
  font-size: 23px;
  font-weight: 200;
  height: 35px;
  position: absolute;
  right: 15px;
  text-align: center;
  top: 11px;
  width: 35px;
}

/* Styling the card header - collapsed state button */
.btn-link.collapsed:after {
  content: '\002B';
}

/* Styling the card body */
.privacy-card-body {
  font-size: 0.8rem;
  font-weight: 200;
}

/* Styling subheadings in the card-body text */
.sub-heading {
  font-size: 0.8rem;
  font-weight: 400;
}

/* Styling the padding of lists inside the card-body */
.top-ol {
  padding-left: 20px;
}

/* Styling the padding of nested lists inside the card-body */
.sub-ol {
  padding-left: 10px;
}

/* ---------- END OF Styles CSS ---------- */
