html, body, header {
  min-height: 100vh;
  margin: 0;
}

/* ---------- Header Styles CSS ---------- */
/* Main Header Container div CSS Styles */
.header {
  background: url("../images/header-fluid.png");
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  min-height: 100vh;
}

/* Provides tint to the background image */
.overlay {
  background: rgba(7, 149, 253, 0.67);
  min-height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

/* Support Bar */
.header-quick-access {
  border: 1px solid #deedf338;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 3%;
  padding-bottom: 5px;
  padding-top: 5px;
}

@media screen and (max-width: 991px) {
  .header-quick-access {
    margin-bottom: 0;
  }
}

/* Email Support */
.email {
  align-items: center;
  display: flex;
  font-size: calc(12px + (12 - 10) * ((100vw - 400px) / (1200 - 400)));
  font-weight: 500;
  justify-content: center;
  margin: auto 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .email {
    justify-content: flex-start;
    padding-left: 10px;
    padding-top: 10px;
  }
}

/* End Email Support */
/* Phone Support */
.phone-support {
  align-items: center;
  border-left: 1px solid #DEEDF338;
  border-right: 1px solid #DEEDF338;
  display: flex;
  font-size: calc(12px + (12 - 10) * ((100vw - 400px) / (1200 - 400)));
  font-weight: 500;
  justify-content: center;
  margin: auto 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .phone-support {
    justify-content: flex-start;
    padding-left: 10px;
    padding-top: 5px;
  }
}

/* End Phone Support */
/* Login */
.login {
  align-items: center;
  display: flex;
  font-size: calc(12px + (12 - 10) * ((100vw - 400px) / (1200 - 400)));
  font-weight: 500;
  justify-content: center;
  margin: auto 0;
}

@media screen and (max-width: 768px) {
  .login {
    justify-content: flex-start;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
  }
}

/* End Login */
/* Common to Email Support and Login inline items */
.quick-access-icon {
  color: #EEEEEE;
  font-size: 25px;
  padding-right: 10px;
}

.quick-access-text {
  color: #E2E6ECBA;
  padding-right: 10px;
}

/* End Common to Email Support and Login inline items */
/* Anchor tags */
.support {
  color: #FFFFFF;
  text-decoration: none;
}

.support:hover {
  color: #1D2D50;
}

/* End Anchor tags */
/* End Support Bar */
/* Navbar CSS Styles */
/* On Screen sizes 991px and less */
@media screen and (max-width: 991px) {
  .nb-expanded-bg-color {
    background-color: #0A2850;
  }
}

/* On Screen sizes 992px and more */
@media screen and (min-width: 992px) {
  .nb-expanded-bg-color {
    background-color: unset;
  }
}

nav div ul li {
  padding-right: 10px;
}

/* End Navbar CSS Styles */
/* Header Content Styling CSS */
.header-content {
  left: 10%;
  position: absolute;
  top: 22%;
  width: 55%;
}

.header-h1 {
  color: #0A2850;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 110px;
  font-weight: normal !important;
  margin-bottom: 0;
}

.eczane {
  color: #FFFFFF;
  font-size: 50px;
  margin-left: 5px;
}

.eczane-text-style {
  color: #A6F6F1;
  font-weight: normal !important;
}

.dot-container {
  left: 34px;
  position: absolute;
  top: 42px;
}

.dot {
  color: #FFFFFF;
  font-size: 5px;
  font-weight: heavy !important;
}

.dot-hr {
  color: #CCF6C8;
  font-size: 24px;
  margin: 0.5% 0 3% 34px;
}

.header-h6 {
  color: #E4F9FF;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(12px + (12 - 10) * ((100vw - 400px) / (1200 - 400)));
  font-weight: 200;
  width: 80%;
}

/* On Screen sizes 768px and less */
@media screen and (max-width: 768px) {
  .header-h6 {
    font-size: calc(10px + (10 - 8) * ((100vw - 400px) / (1200 - 400)));
    width: 100%;
  }
}
.button{
  margin-left: 0;
}

.button-learn {
  background-color: #0A2850;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.button-learn:hover {
  color: #FFFFFF;
}

.button-learn:active {
  background-color: #CD0A0A;
}

/* End Header Content Styling CSS */
/* ---------- End Header Styles CSS ---------- */
