html, body, header {
  height: 100%;
  margin: 0;
}

/* Header Section CSS Styles */
/* On Screen sizes 991px and less */
@media screen and (max-width: 991px) {
  .nb-expanded-bg-color {
    background-color: #0A2850;
  }
}

/* On Screen sizes 992px and more */
@media screen and (min-width: 992px) {
  .nb-expanded-bg-color {
    background-color: unset;
  }
}

li {
  padding-right: 10px;
}

#intro {
  background: url("../images/header-fluid.png");
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

.brand {
  max-width: 200px;
}

.teczane-logo {
  width: 30%;
  height: auto;
  /* background-color: #A6F6F1; */
  /* background-color: #D9ECF2; */
  /* background-color: #FECb89; */
  /* border-radius: 25px 0; */
}

.header-rows {
  padding: 3% 5%;
}

h1 {
  color: #0A2850;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 110px;
}

.dot {
  font-size: 5px;
  position: absolute;
  top: 102px;
}

.dot-1 {
  left: 50px;
}

.dot-2 {
  left: 60px;
}

.dot-3 {
  left: 70px;
}

.dot-4 {
  left: 80px;
}

.dot-5 {
  left: 90px;
}

.dot-6 {
  left: 100px;
}

.dot-7 {
  left: 110px;
}

.dot-8 {
  left: 120px;
}

.dot-9 {
  left: 130px;
}

.dot-10 {
  left: 140px;
}

.dot-11 {
  left: 150px;
}

.dot-12 {
  left: 160px;
}

.eczane {
  color: #FFFFFF;
  font-size: 50px;
  margin-left: -15px;
}

.eczane-text-style {
  color: #A6F6F1;
}

.dot-hr {
  color: #CCF6C8;
  margin: 5% 0;
  padding-bottom: 5%;
  text-align: left;
}

.sub-dot-hr {
  left: 37px;
  padding-right: 7px;
  position: relative;
}

h6 {
  color: #E4F9FF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 200;
  padding-bottom: 4%;
}

.button {
  margin-left: 0;
}
