/***************************************/
/***************************************/
/* COMMON CSS CODE - FULL WEB PAGE */
html, body, header {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  min-height: 100vh;
  margin: 0;
}

.placeholder {
  visibility: hidden;
}

/***************************************/
/***************************************/
/* ---------- Header Styles CSS ---------- */
/* Main Header Container div CSS Styles */
.header {
  background: url("../images/header-fluid.png");
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  min-height: 100vh;
}

/* Provides tint to the background image */
.overlay {
  background: rgba(7, 149, 253, 0.67);
  min-height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

/* ########## Support Bar ########## */
.header-quick-access {
  border: 1px solid #deedf338;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  margin-bottom: 3%;
  padding-bottom: 5px;
  padding-top: 5px;
}

@media screen and (max-width: 991px) {
  .header-quick-access {
    margin-bottom: 0;
  }
}

/* Email Support */
.email {
  align-items: center;
  display: flex;
  font-size: calc(12px + (12 - 10) * ((100vw - 400px) / (1200 - 400)));
  justify-content: center;
  margin: auto 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .email {
    justify-content: flex-start;
    padding-left: 10px;
    padding-top: 10px;
  }
}

/* Phone Support */
.phone-support {
  align-items: center;
  border-left: 1px solid #DEEDF338;
  border-right: 1px solid #DEEDF338;
  display: flex;
  font-size: calc(12px + (12 - 10) * ((100vw - 400px) / (1200 - 400)));
  justify-content: center;
  margin: auto 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .phone-support {
    justify-content: flex-start;
    padding-left: 10px;
    padding-top: 5px;
  }
}

/* Login */
.login {
  align-items: center;
  display: flex;
  font-size: calc(12px + (12 - 10) * ((100vw - 400px) / (1200 - 400)));
  justify-content: center;
  margin: auto 0;
}

@media screen and (max-width: 768px) {
  .login {
    justify-content: flex-start;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
  }
}

/* Common to Email Support and Login inline items */
.quick-access-icon {
  color: #EEEEEE;
  font-size: 25px;
  padding-right: 10px;
}

.quick-access-text {
  color: #E2E6ECBA;
  padding-right: 10px;
}

/* Anchor tags */
.support {
  color: #FFFFFF;
  text-decoration: none;
}

.support:hover {
  color: #1D2D50;
}

/* ########## Navbar CSS Styles ##########*/
/* On Screen sizes 991px and less */
@media screen and (max-width: 991px) {
  .nb-expanded-bg-color {
    background-color: #0A2850;
    opacity: 0.8;
  }
}

/* On Screen sizes 992px and more */
@media screen and (min-width: 992px) {
  .nb-expanded-bg-color {
    background-color: unset;
  }
}

/* Navbar link-item */
nav div ul li {
  padding-right: 10px;
}

/* ########## Header Content Styling CSS ########## */
/* Main Header Content Box */
.header-content {
  left: 10%;
  position: absolute;
  top: 23%;
  width: 55%;
}

/* Header h1 */
.header-h1 {
  color: #0A2850;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 110px;
  font-weight: normal !important;
  margin-bottom: 0;
}

/* Styling the 't' in teczane */
.eczane {
  color: #FFFFFF;
  font-size: 50px;
  margin-left: 5px;
}

/* Styling the 'eczane' in teczane */
.eczane-text-style {
  color: #A6F6F1;
  font-weight: normal !important;
}

/* Positioning the dots infront of the t in teczane */
.dot-container {
  left: 34px;
  position: absolute;
  top: 42px;
}

/* Styling the dots infront of the t in teczane */
.dot {
  color: #FFFFFF;
  font-size: 5px;
  font-weight: heavy !important;
}

/* Styling the hr dots */
.dot-hr {
  color: #CCF6C8;
  font-size: 24px;
  margin: 0.5% 0 3% 34px;
}

/* Styling the header description text */
.header-h6 {
  color: #E4F9FF;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: calc(12px + (12 - 10) * ((100vw - 400px) / (1200 - 400)));
  font-weight: 300;
  width: 80%;
}

/* On Screen sizes 768px and less */
@media screen and (max-width: 768px) {
  .header-h6 {
    font-size: calc(10px + (10 - 8) * ((100vw - 400px) / (1200 - 400)));
    width: 100%;
  }
}

/* Common style for buttons in the Header Content Section */
.button {
  margin-left: 0;
}

/* Style for 'Learn More' button in the Header Content Section */
.button-learn {
  background-color: #0A2850;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.button-learn:hover {
  color: #FFFFFF;
}

.button-learn:active {
  background-color: #CD0A0A;
}

/* ---------- Main Styles CSS ---------- */
/***********************************************/
/***********************************************/
/* COMMON CODE TO ALL ELEMENTS IN WEB PAGE */
.section-wrapper {
  margin: 0 5%;
}

.section-header {
  color: #0A2850;
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  font-weight: 500;
  margin: 0 auto 0;
  border: 1px solid green;
  width: 90%;
}

.hr-h2-grey {
  margin: 2.5% auto 3.5% auto;
  width: 45%;
  border: 1px solid red;
}

.hr-h2-white {
  border-color: #FFFFFF;
  margin: 2.5% auto 3.5% auto;
  width: 45%;
}

/* END COMMON CODE TO ALL ELEMENTS IN WEB PAGE */
/***********************************************/
/***********************************************/
/* ########## Main -  Services Section ########## */
.service-bg-wrapper {
  background-color: #FFFFFF;
  padding-bottom: 5%;
  padding-top: 5%;
}

#services {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  text-align: center;
}

/* Styling individual service card */
.service-card {
  border: 1px solid #C0C0C475;
  margin-bottom: 1%;
  margin-top: 1%;
}

/* Styling the service card header */
.service-card-header {
  background-color: #0A2850;
  color: #EEEEEE;
  font-weight: 400;
  font-size: 1.5rem;
}

/* Styling the service card body*/
.service-card-body {
  padding: 0;
}

/* Styling the service card text */
.service-card-text {
  font-weight: 300 ! important;
  margin: 5px;
  padding: 5px;
  text-align: left;
}

/* ########## Main -  Pricing Section ########## */
.pricing-bg-wrapper {
  background-color: #EEEEEE61;
  padding-bottom: 5%;
  padding-top: 5%;
}

#pricing {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  text-align: center;
}

/* Styling individual pricing card */
.pricing-card {
  border: 1px solid #C0C0C475;
  margin-bottom: 1%;
  margin-top: 1%;
}

/* Styling the pricing card header */
.pricing-card-header-1 {
  background-color: #0C6FE870;
  border-bottom: #FFFFFF;
  padding: 10%;
}

.award {
  width: 20%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
}

.pricing-card-header-2 {
  background-color: #9EE80C70;
  border-bottom: #FFFFFF;
  padding: 10%;
}

.pricing-card-header-3 {
  background-color: #E80C8670;
  border-bottom: #FFFFFF;
  padding: 10%;
}

.pricing-card-header-4 {
  background-color: #E80C0C70;
  border-bottom: #FFFFFF;
  padding: 10%;
}

/* Styling the pricing card header title */
.pricing-card-header-title {
  color: #0A2850;
  font-weight: 400;
  font-size: 1.5rem;
}

/* Styling the pricing card header price */
.pricing-card-header-price {
  color: #0A2850;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 96px;
  font-weight: 400;
}

.decimal {
  color: #faff00;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 100;
}

/* Styling and positioning the pricing card header currency symbol */
.pricing-card-header-currency-symbol {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 300;
  position: relative;
  right: 5px;
  top: -40px;
  vertical-align: super;
}

/* Styling the pricing card body */
.pricing-card-body {
  text-align: left;
}

/* Styling the pricing card text */
.pricing-card-text {
  font-weight: 300 ! important;
}

/* Styling the pricing card order button */
.card-pricing-order-button {
  background-color: #0A2850;
  color: #EEEEEE;
  font-size: 0.8rem ! important;
}

/* Styling the pricing card order button - hover state */
.card-pricing-order-button:hover {
  background-color: #0A2850;
  border: 1px solid #FFFFFF;
  color: #98C0F5;
  font-size: 0.8rem ! important;
}

/* Styling the pricing card order button - active state */
.card-pricing-order-button:active {
  background-color: #F9F9F9;
  border: 2px solid #AAAAAA;
  color: black;
  font-size: 0.8rem ! important;
}
